<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klaus.attractive.dao.LinkRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.klaus.attractive.model.LinkRoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
</mapper>