<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klaus.attractive.dao.SysZoneMapper">
  <resultMap id="BaseResultMap" type="com.klaus.attractive.model.SysZone">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="max_number" jdbcType="INTEGER" property="maxNumber" />
  </resultMap>
</mapper>